<div class="container">
        <div class="has-text-centered">
            <h1 class="profile-header has-text-weight-bold">Pokemon Battlefield Profile</h1>
        </div>
        <div class="column">
            <div class="field">
                <figure class="image is-128x128">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
                </figure>
                <label class="label is-size-3">Name</label>
                <label class="label profile-border profile-text is-size-5">{{user_charName}}</label>
                <label class="label is-size-3">Email Address</label>
                <label class="label profile-border profile-text is-size-5">{{user_email}}</label>
                <label class="label is-size-3">First Name</label>
                <label class="label profile-border profile-text is-size-5">{{user_Fname}}</label>
                <label class="label is-size-3">Last Name</label>
                <label class="label profile-border profile-text is-size-5">{{user_Lname}}</label>
                <label class="label is-size-3">Game Wins</label>
                <label class="label profile-border profile-text is-size-5">{{user_game_wins}}</label>
            </div>
        </div>
    </div>